*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}
.inner{
    display: flex;
}
.item1{
    width: 227px;
    height: 375px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #e28525;
}
.item2{
    width: 227px;
    height: 375px;
    background-color: #016972;
}
.item3{
    width: 227px;
    height: 375px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #00403f;
}
.dsp{
    padding: 35px;
    display: flex;
    flex-direction: column;
}
.disp{
    width: 55px;
}
.text1{
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
}
.text2{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    padding-bottom: 35px;
    color: rgb(245, 245, 245);
    font-size: 10px;
    line-height: 20px;
}
.btn1{
    color: #e28525;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    cursor: pointer;
}
.btn2{
    color: #016972;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    cursor: pointer;
}
.btn3{
    color: #00403f;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    cursor: pointer;
}
.btn1:hover{
    border: 1px solid #fff;
    background-color: #e28525;
    color: #fff;
}
.btn2:hover{
    border: 1px solid #fff;
    background-color: #016972;
    color: #fff;
}
.btn3:hover{
    border: 1px solid #fff;
    background-color: #00403f;
    color: #fff;
}